<?xml version="1.0" encoding="UTF-8" ?>
<phpunit color="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
>
    <testsuites>
        <testsuites name="Test suite">
            <directory>.</directory>
        </testsuites>
    </testsuites>
    <php>
        <var name="DB3_CONNECTION" value="mongodb" />
        <var name="DB3_DATABASE" value="test" />
        <var name="DB3_DSN" value="mongodb+srv://test:Mustopha123@cluster0.wnxld.mongodb.net/test?retryWrites=true&w=majority" />
    </php>
</phpunit>
